	<div class="container">
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collpase">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />-->
						<a href="#/" class="navbar-brand"><img src="/images/sparkmind.gif" width="60" height="35"></a>
					</div>
					<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
						<ul class="nav navbar-nav">
							<li class="active">
								<a ui-sref="home"> Home</a>
							</li>
							<li class="active">
								<a ui-sref="contact"> Contact</a>
							</li>
							<li class="active">
								<a ui-sref="about"> About</a>
							</li>
							<li class="active">
								<a ui-sref="admin"> Admin</a>
							</li>
						</ul>
					</nav>
		</header>
	</div>		